/* define variables for the primary colors */
/*this file won't be transpiled because its file name starts with underscore _*/
$primary_1: #a2b9bc;
$primary_2: rgb(218, 98, 98);
$primary_3: #eeee84;

